<div id="team-section">
  <h2 class="section-title">
    <span class="title-line"></span> Team List
  </h2>
  <div class="team-list-container">
    <ul class="team-list">
      <li *ngFor="let team of teamList">{{ team }}</li>
    </ul>
  </div>

  <h2 class="section-title">
    <span class="title-line"></span> Team Groups
  </h2>
  <div class="team-group-container">
    <div class="group-expand" *ngFor="let group of teamGroups | keyvalue : unsorted">
      <h3 class="group-title">{{ group.key }}</h3>
      <ul class="team-list">
        <li *ngFor="let team of group.value">{{ team }}</li>
      </ul>
    </div>
  </div>
</div>
