.content {
  width: 100%;
  /*background-color: gainsboro;*/
}

.mat-form-field {
  margin: 20px;
  margin-bottom: 0;
  width: 90%;
}

.matrix-table {
  margin: 20px;
}

.mat-cell {
  padding: 20px;
  /* padding-bottom: 0; */
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
}

.mat-header-cell {
  padding: 10px;
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
}

.mat-cell ul.activity-list {
  list-style-type: disclosure-closed;
}

.mat-cell-activity {
  margin-bottom: 1em;
  position: relative;
}

.mat-cell-activity a.activity-title {
  text-decoration: unset;
  margin: 0;
}

.mat-cell-activity a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mat-cell-activity a.activity-title:link {
  color: inherit;
}

.table-small-width {
  width: 5%;
  max-width: 9%;
}

.tags-activity {
  font-weight: 800;
  font-style: italic;
  color: rgb(0, 113, 151);
  font-size: 12px;
}

.reset-button {
  background-color: #66bb6a;
  display: block;
  margin: 0 20px;
  padding: 7px 12px;
  border-radius: 16px;
  font: 500 14px / 20px Roboto, 'Helvetica Neue', sans-serif;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reset-button:hover {
  background-color: #4caf50;
  /* Un verde más oscuro al hacer hover */
  transform: scale(1.05);
  /* Aumenta un poco el tamaño */
}

.reset-button:active {
  background-color: #388e3c;
  /* Aún más oscuro cuando se hace clic */
  transform: scale(0.98);
  /* Un pequeño efecto de presión */
}

.reset-button:focus {
  outline: none;
  /* Elimina el borde por defecto */
  box-shadow: 0 0 0 4px rgba(102, 187, 106, 0.5);
  /* Agrega un enfoque suave */
}


.mat-label-1 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin: 20px 20px;
  padding: 7px 12px;
  border-left: 4px solid #76ABAE;
  padding-left: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #222831;
  color: #EEEEEE;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}